<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zeta.android.apps"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:node="merge" />

</manifest>
